body {
  background-color: aliceblue;
}

#applicationFrame {
  background-color: rgb(180, 234, 255);
  border: .3em black solid;
}

#messages {
  padding-top:.5em;
  padding-right:.5em;
  padding-left:.5em;
  border-bottom: .3em black solid;
  background-color: rgba(127, 255, 212, 0.164);
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.myMessage, .otherMessage {
  border-radius: .5em;
  max-width: 40vw;
  padding:.3em;
  text-wrap: wrap;
  word-wrap: break-word;
  margin-bottom: .5em;
}

.myMessage {
  background-color: rgb(0, 255, 221);
  align-self: flex-end;
}

.otherMessage {
  background-color: rgba(0, 255, 221, 0.219);
  align-self: flex-start;
}

/* INPUTS */

#messageInput {
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

/* Sending zone */

#messageBox {
  background-color: rgb(227, 255, 255);
  border-radius: .3em;
  padding: .3em;
  font-size: 12pt;
  width:70vw;
}

#sendButton, #sendButton:visited {
  background-color: rgb(198, 255, 255);
  border: .1em rgb(137, 177, 177) solid;
  border-radius: .3em;
  padding: .3em;
  color: black;
  text-decoration: none;
  font-size:12pt;
  font-family: "";
  width:10vw;
}

#sendButton:hover {
  background-color: rgb(137, 177, 177);
  border: .1em rgb(198, 255, 255) dotted;
}

#sendButton:active {
  background-color: rgb(87, 110, 110);
}

/* Reset button */

#resetButton, #resetButton:visited  {
  background-color: grey;
  border: .1em black solid;
  border-radius: .3em;
  padding: .3em;
  color: black;
  text-decoration: none;
  font-size:12pt;
  width:10vw;
}

#resetButton:hover {
  background-color: rgb(4, 0, 255);
}

#resetButton:active {
  background-color: rgb(255, 0, 0);
}